<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pg7.scsp.mapper.NewsMapper">

    <select id="queryTitleAndSeeCount" resultType="org.pg7.scsp.dto.NewsRedisDto">
        select id, title, see_count seeCount from tb_news where deleted = 0  order by see_count DESC limit #{start},#{len};
    </select>
</mapper>
