<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pg7.scsp.mapper.UserCourseRecordMapper">

    <select id="queryUserCredit" resultType="java.util.Map">
        select c.id course_id, c.course_name courseName, c.credit
        from tb_course  c
        where c.id in (select a.course_id
                       from tb_user_course_record a
                       where a.user_id = #{userId}
                       and score >= 60
                       group by  course_id)

    </select>
    <select id="queryUserUnPassCredit" resultType="java.util.Map">
        select c.id course_id, c.course_name courseName, c.credit from tb_course c where

                c.id not in (select a.course_id from tb_user_course_record a where a.user_id = 1 and 60 > score group by course_id)
                and
                c.id in (select a.course_id from tb_user_course_record a where a.user_id = 1 group by course_id);

    </select>

</mapper>
